

/* lightbox selector */

a.thumb,  img.thumb,
a.thumb2, img.thumb2 
{
    cursor: zoom-in;
}


/* lightbox main style */

div.minilightbox
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(75, 75, 75, 0.95);
    text-align: center;

    z-index: 9;

    display: none;
}
div.minilightbox.open
{
    display: block;
}

div.minilightbox.open img
{
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: zoom-out;
    border-radius: 5px;
    border: 5px solid #2d2d2d;
    box-shadow: 0 0 30px 10px rgba(0,0,0, 0.2);
    background-color: #fff;
}
div.minilightbox .animated,
div.minilightbox.animated
{
    animation-duration: 0.5s;
}

/* lightbox animations */

@keyframes fadeIn
{
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.fadeIn
{
    animation-name: fadeIn;
}

@keyframes fadeInUp
{
    0% {opacity: 0; transform: translate3d(0, 100%, 0);}
    100% {opacity: 1; transform: none;}
}
.fadeInUp
{
    animation-name: fadeInUp;
}

@keyframes fadeOutDown
{
    0% {opacity: 1;}
    100% {opacity: 0; transform: translate3d(0, 100%, 0);}
}
.fadeOutDown
{
    animation-name: fadeOutDown;
}

@keyframes fadeOut
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.fadeOut
{
    animation-name: fadeOut;
}

